:root {
    --bg-body: #212529;
    --text-color: #0d6efd;
    --navbar-bg: #0d6efd;
    --navbar-text: #ffffff;
    --card-bg: #212529;
    --card-text: #0d6efd;
}

[data-bs-theme="dark"] {
    --bg-body: #212529;
    --text-color: #0d6efd;

    [data-bs-theme="dark"] .navbar {
        box-shadow: none;
        border-bottom: 1px solid #373b3e;
    }

    .navbar-brand,
    .nav-link,
    .navbar-toggler-icon {
        color: var(--navbar-text) !important;
    }

    .card {
        background-color: var(--card-bg);
        color: var(--card-text);
        border: none;
        border-radius: 1rem;
    }
}